@use '/src/module_scss/header.scss';
.one{
    
    h1{
        font-size: 32px;
        font-weight: 600;
        line-height: 39.2px;
    }
    .loved_items{
        margin-top: 30px;
        position: relative;
        display: flex;
        align-items: start;
        gap: 30px;
        .nothing{
            margin-top: 27%;
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            .hearts{
                width: 150px;
                margin: 0 auto;
            }
            h1{
                font-size: 32px;
                font-weight: 600;
                line-height: 39.2px;
                text-align: center;
            }
            p{
                font-size: 14px;
                font-weight: 500;
                line-height: 16.98px;
                text-align: center;
            }
        }
        .korzinka_items{
            display: grid;
            grid-template-columns: 1fr;
            width: 900px;
            height: 654px;
            border: 1px solid rgba(217, 217, 217, 1);
            border-radius: 12px;
            overflow-y: scroll;
            .item{
                margin: 15px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 20px;
            }
            .bg_img{
                border-radius: 12px;
                position: relative;
                width: 143px;
                height: 187px;
                background-color: rgba(172, 172, 172, 1);
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    mix-blend-mode: multiply;
                    object-fit: cover;
                }
            }
            .text{
                h2{
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24.26px;
                }
                h3{
                    margin-block: 10px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 19.81px;
                }
                .ponel {
                    margin-top: 15px;
                    border: 1px solid black;
                    width: 89px;
                    height: 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 3px;
              
                    .number {
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 19.41px;
                    }
              
                    button {
                      padding-inline: 7px;
                      font-size: 17px;
                      font-weight: 500;
                      line-height: 19.41px;
                      background-color: white;
                    }
                  }
                  .delete{
                    margin-top: 15px;
                    width: 80px;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 15.77px;
                    height: 32px;
                    border-radius: 4px;
                    color: rgba(51, 51, 204, 1);
                  }
            }
        }
        .calculator{
            padding: 20px;
            min-width: 400px;
            height: 265px;
            border: 1px solid rgba(217, 217, 217, 1);
            border-radius: 12px;
            h2{
                font-size: 40px;
                font-weight: 600;
                line-height: 49px;
                text-align: left;
            }
            p{
                margin-block: 25px;
                font-size: 16px;
                font-weight: 500;
                line-height: 19.41px;
                text-align: left;
            }
            button{
                margin-top: 25px;
                color: white;
                font-size: 13px;
                font-weight: 500;
                line-height: 15.77px;
                text-align: center;
                background: rgba(112, 0, 255, 1);
                width: 100%;
                height: 32px;
            }
        }
    }
}

@media (max-width: 1199.98px) {

}

@media (max-width: 992.98px) {
  
}

@media (max-width: 767.98px) {
  .loved_items{
    flex-wrap: wrap;
  }
  .calculator{
    width: 100%;
  }
}

@media (max-width: 575.98px) {

}